body {
    background-color: #000000;
    color: #ffffff;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.card {
    border: none;
    background-color: #000000;
}

.card-title {
    color: #ffffff;
}

.card-text {
    color: #cccccc;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .card-body {
        padding-top: 1rem;
    }
}