
body{
    font-family: "Inter",sans-serif ;
    background-color: #000;
    color: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 0px 10px;
}
.flexContainer{
    display: flex;
}

/* navbar css */
.header-block{
    display: flex;
    align-items: center;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo-text{
    width: 35%;
    padding: 10px;
    text-align: left;
}
.logo-text p a{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.nav-menu{
    width: 70%;
    padding: 10px;
}
.nav-menu ul{
    width: 55%;
    margin-left: auto;
}
.nav-menu ul li a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

/* contact section */
.home-section{
    margin-bottom: 20px;
}
.home-section img{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: inline-block;
}

/* footer CSS */

footer{
    padding: 30px 0;
    display: flex;
    align-items: center;
}
@media (max-width: 600px){
    .flexContainer{
        flex-direction: column;
    }
    .mySkills .singleSkill{
        width: 100%;
    }
    .header-block, footer{
        flex-direction: column;
    }
    .logo-text{
        width: 100%;
        padding: 0px 10px;
        text-align: center;
    }
    .logo-text p a{
        margin: 20px;
    }
    .mySkills .skillHeading {
        margin-top: 50px;
    }
    .nav-menu ul{
        width: 100%;
        margin: 0px auto;
        text-align: center;
        padding: 0px 10px;
    }
    .about-section h1{
        font-size: 50px;
    
    }
}